:root {
  --TAorange: #ff8000;
  --starEmptyColor: rgb(169, 169, 169);
  --starDimension: 20px;
  --likeOpacity: 1;
  --unlikeOpacity: 0.1;
}

.App {
}

.Header {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 64px;
  background-color: var(--TAorange);
  color: white;
}

.logo {
  height: 52px;
}

.Dashboard {
  width: 50vw;

  display: flex;
  flex-direction: column;
}

.Card {
  height: 100px;
  margin: 2px;
  padding-left: 2vw;
  padding-right: 2vw;
  background-color: whitesmoke;
  justify-content: unset;
  display: flex;
  align-items: center;
}

.Card:hover {
  background-color: unset;
}

.Card div h3 {
  margin: unset;
  margin-top: 5px;
  margin-bottom: 5px;
}

.Card div h6 {
  letter-spacing: 0.5pt;
  margin: 0px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  margin-right: 2vw;
}

.cardMiddle {
  margin-right: 2vw;
  font-size: 24pt;
  opacity: var(--unlikeOpacity);
}

.cardMiddle:hover {
  opacity: var(--likeOpacity);
}

.green {
  color: limegreen;
}

.orange {
  color: var(--TAorange);
}

.red {
  color: red;
}

.Content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.Filters {
  margin-top: 22px;

  display: flex;
  flex-direction: column;
}

.Filters-item {
  padding: 10px;
  background-color: whitesmoke;
}

.Filters-item input,
.Filters-item select {
  border: 0;
  padding: 6px;
  font-size: 12pt;
}

.bold {
  font-weight: bold;
}
